bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
Properties/
/ButtonsExtraBooks.csproj
/ButtonsExtraBooks.csproj.DotSettings
/ButtonsExtraBooks.sln
/Button's Extra Books/ButtonsExtraBooks.csproj